.big-com-main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    height: calc(100vh - 265px);
    min-width: 1600px;
    min-height: 690px;
}

.big-com-sub{
	width: 85vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: #fff;
    min-width: 1600px;
    min-height: 676px;
}

.big-com-tblist{
	margin: 10px 0;
    width: 1600px;
    line-height: calc(2.4vh - 1px);
    border-collapse: collapse;
}

.big-com-tblist tr td {
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid grey;
}