@charset "UTF-8";

.event_list ul li span.s-check{position:absolute; float:unset; left:10px; top:15px; width:unset; }
.event_list ul {display: flex; justify-content: flex-start; width:100%; flex-wrap:wrap; list-style-type: none;}
.event_list ul li{border-bottom:0;width:19%; height: 200px; position:relative; margin-right:1%; margin-bottom:20px;}
.bo_list ul li{padding: 0!important;}
.event_list ul li:nth-child(5n){margin-right:0;}
.event_list ul li a{display:block; width:100%; height:100%; }
.event_list ul li figure{width: 100%; height: 100%; position: relative; overflow:hidden; border-radius:20px; background: #f9f9f9;cursor:pointer;}
.event_list ul li figure img{ display:block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.event_list ul li .tit_box {display: none;}

#bo_sch.k_bo_sch{display: none;}
#k_pg_con{margin-top: 10px!important;}

@media screen and (max-width:1480px){
	.event_list ul li{width:24%; }
	
	.event_list ul li:nth-child(5n){margin-right:1%;}
	.event_list ul li:nth-child(4n){margin-right:0;}
}
@media screen and (max-width:960px){ 
	.event_list ul li{width:32%; height: 180px; margin-right:2%; margin-bottom: 15px;}
	
	.event_list ul li:nth-child(5n),
	.event_list ul li:nth-child(4n){margin-right:2%;}
	.event_list ul li:nth-child(3n){margin-right:0;}

}
@media screen and (max-width:768px){ 
	.event_list ul li{width:48%; height: 120px;}
	
	.event_list ul li:nth-child(3n){margin-right:2%;}
	.event_list ul li:nth-child(even){margin-right:0;}

}

@media screen and (max-width:480px){ 
	.event_list ul li{width:100%; height: 120px; margin-right: 0}
	
	.event_list ul li:nth-child(3n){margin-right:0;}
}
