

/* 전체  */
.board_list{
	width: 100%;
    display: flex;
    flex-direction: row;
 	height: calc(80vh - 200px);
    background: #fff;
}

/* 전체 아래 파트(대중소) */
.board_list>div{
	width: 100%;
    display: flex;
    flex-direction: column;
}
/* 대 */
#db_layer1{
	flex: 1;
}
/* 중 */
#db_layer2{
	flex: 2;
}
/* 소 */
#db_layer3{
	flex: 3;
}
/* 제목부분 공통*/
.mgr_lb{
	width: 100%;
    height: 50px;
    background-color: #a8b4c4;
    border: 1px solid #8c96a3;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 제목부분 하단 폰트 */
.mgr_lb span{
	font-family: 'NEXON Lv2 Gothic Bold';
    text-shadow: -1px 0 #8a929d, 0 1px #8a929d, 1px 0 #8a929d, 0 -1px #8a929d;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

/* 내용부분 공통 */
.scroll{
	line-height: 3;
    font-size: 20px;
    overflow: auto;
}


