<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hivesys.charge.mapper.ChargeMapper">
<!-- 
수정일           수정자         수정내용 
========= ======= ================================================= 
2020.07.23 정다빈     최초 생성 
-->

<!-- 고객과금 -->

	<select id="selectPriceList" parameterType="companyVo" resultType="chargeVo">
	SELECT T.* FROM	
	(
	    SELECT 
			ABS(DATEDIFF(BILL_DT,BILL_RFDT))+1 AS USE_DT
			,IFNULL(PRE_PRICE_NNVL,0) AS PRE_PRICE
			,J1.*,J2.* 
		FROM
		(
			SELECT 
			 A.COMPANY_ID
			,CONCAT(A.COMPANY_ID,"-",DATE_FORMAT(A.REG_DT, '%Y%m%d'),"-",IFNULL(B.SERVICE_TYPE,3)) AS CHARGE_ID
			
			,A.COMPANY_NAME
			,A.BILL_DT
			,A.BILL_RFDT
			,A.BR_NUMBER
			,LAST_DAY(BILL_RFDT+ INTERVAL 1 MONTH) AS DUE_DATE
			,A.IAAS_NHN
			,A.IAAS_NAVER
			,A.IAAS_KT
			,A.IAAS_AWS
			,A.SDR_NHN
			,A.SDR_NAVER
			,A.SDR_KT
			,A.REG_DT
			
			,CASE
		 	WHEN SERVICE_TYPE=0 THEN 'LITE'
			WHEN SERVICE_TYPE=1 THEN 'STANDARD'
			WHEN SERVICE_TYPE=2 THEN 'PREMIUM'
			ELSE 
				CASE
					WHEN SDR_NHN ='N' AND  SDR_NAVER='N' AND SDR_KT='N' THEN 'IAAS' 
					WHEN IAAS_NHN ='N' AND  IAAS_NAVER='N' AND IAAS_KT='N' AND IAAS_AWS='N' THEN 'DATA DR'
					ELSE 'IAAS/DATA' END			
			END AS SERVICE_TYPE_NM
			
			,B.* 
			FROM 
			company_info A
			LEFT JOIN
			(
				SELECT mp.*, FORMAT(danga*buy_cnt , 0) AS PRE_PRICE_NNVL
				from
				(
					SELECT 
					mm.COMPANY_ID AS TID,
					mm.CLOUD_TYPE,
					mm.SERVICE_TYPE,
					mm.BUY_CNT,
					case 
						when service_type=0 then 150000
						when service_type=1 then 250000
						ELSE 350000 END AS danga
					FROM 
					msp_charge mm
				)mp
			)B
			ON(A.COMPANY_ID=B.TID)
			WHERE 
				B.CLOUD_TYPE IS NOT NULL
				OR
				( 
					A.IAAS_NHN			='Y'
					OR A.IAAS_NAVER		='Y'
					OR A.IAAS_KT		='Y'
					OR A.IAAS_AWS		='Y'
				)
				OR
				 (	
				 	A.SDR_NHN     		='Y'
					OR A.SDR_NAVER 		='Y'
					OR A.SDR_KT     	='Y'
				)
		)J1
		LEFT JOIN 
		(	
		SELECT 
			CHARGE_ID	AS TTID
			,COMPANY_ID	AS CID
			,PRICE_TYPE	
			,MSP_PRICE	
			,IAAS_PRICE	
			,DATADR_PRICE
			,SUM_PRICE	
			FROM CHARGE_INFO 
		)	
		J2
		ON(J1.CHARGE_ID=J2.TTID)
	)T
	WHERE 1=1
		<!-- 고객사 ID 여부-->	
		<if test="COMPANY_ID !=null and COMPANY_ID neq ''">
				and T.COMPANY_ID=#{COMPANY_ID}
		</if>
		<!-- 계약일(검색기간) -->	
		<choose>
		    <when test="searchRadio2 !=null and searchRadio2 neq ''">
				AND <![CDATA[ T.BILL_RFDT >= CURDATE() - INTERVAL #{searchRadio2} MONTH ]]>
		    </when>
		    <otherwise>
		        <if test="sDate !=null and sDate neq '' and eDate !=null and eDate neq '' ">
				    AND <![CDATA[ T.BILL_RFDT >= #{sDate}  AND T.BILL_RFDT <= #{eDate} ]]>
				</if>
		    </otherwise>
		</choose>
		<!-- 검색어 -->
		<if test="searchValue !=null and searchValue neq ''"> 
			<choose>
			    <when test="searchType eq 'companyName'">
			        AND T.COMPANY_NAME LIKE CONCAT('%',#{searchValue},'%')	
			    </when>
			    <when test="searchType eq 'chargeId'">
			        AND T.CHARGE_ID LIKE CONCAT('%',#{searchValue},'%')	
			    </when>
			    <otherwise>
			        AND T.SERVICE_TYPE_NM LIKE CONCAT('%',#{searchValue},'%')	
			    </otherwise>
			</choose>
		</if>
	</select>
	
	<insert id="chargeInsert" parameterType="chargeVo">
	    INSERT INTO CHARGE_INFO
		 VALUES 
	    <foreach collection="list" item="item" index="index" separator=",">
            (
            	 #{item.CHARGE_ID}
            	,#{item.COMPANY_ID}
            	,SUBSTRING_INDEX(#{item.CHARGE_ID},'-',-1)
            	,#{item.MSP_PRICE}
            	,#{item.IAAS_PRICE}
            	,#{item.DATADR_PRICE}
            	,#{item.SUM_PRICE}
            )
        </foreach>
	</insert>
	
	<delete id="deleteCharge" parameterType="chargeVo">
	    delete from CHARGE_INFO
	    WHERE CHARGE_ID IN
	    <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.CHARGE_ID}
        </foreach>
	</delete>
	
</mapper>