<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hivesys.board.mapper.FaqMapper">
<!-- 
수정일           수정자         수정내용 
========= ======= ================================================= 
2020.07.23 정다빈     최초 생성 
-->

<select id="selectList" parameterType="faqVo" resultType="faqVo">
		 SELECT A.*,B.USER_NAME FROM  
				(SELECT 
					 FAQ_ID
					,DATE_FORMAT(FAQ_DT,'%Y-%m-%d %H:%i:%s') AS FAQ_DT 
					,USER_ID
					,FAQ_TYPE
					,CASE 
					WHEN FAQ_TYPE=0 THEN '운영 FAQ'
					ELSE '기타 FAQ' END AS FAQ_TYPE_NM
					,FAQ_TITLE
					,CONTENT
				FROM FAQ_INFO
				WHERE 1=1
				<!-- vo 필드값을 배열로 해서 조회하는 부분 -->
				<!-- 서비스 상태 여부 -->
				<if test="listArr != null and listArr.size != 0">
				    AND FAQ_TYPE IN
					<foreach collection="listArr" item="item" index="index" separator="," open="(" close=")">
			            ${item}
			        </foreach>
				</if>
				
				<!-- 계약일(검색기간) -->	
				<choose>
				    <when test="searchRadio !=null and searchRadio neq ''">
						AND <![CDATA[ FAQ_DT >= CURDATE() - INTERVAL #{searchRadio} MONTH ]]>
				    </when>
				    <otherwise>
				         <if test="sDate !=null and sDate neq '' and eDate !=null and eDate neq '' ">
						    AND <![CDATA[ FAQ_DT >= #{sDate}  AND FAQ_DT <= #{eDate} ]]>
						</if>
				    </otherwise>
				</choose>
				<!-- AND FAQ_DIV=#{FAQ_DIV} -->
			) A
			LEFT JOIN USER_INFO B
			ON(A.USER_ID=B.USER_ID)
			WHERE 1=1
			<!-- 검색어 -->
			<if test="searchValue !=null and searchValue neq ''"> 
				<choose>
				    <when test="searchType eq 'faqTitle'">
						AND A.FAQ_TITLE LIKE CONCAT('%',#{searchValue},'%')	        
				    </when>
				    <otherwise>
				        AND B.USER_NAME LIKE CONCAT('%',#{searchValue},'%')	
				    </otherwise>
				</choose>
			</if>
		ORDER BY A.FAQ_DT DESC
	</select>
	
	<select id="selectOne" parameterType="faqVo" resultType="faqVo">
	   	SELECT A.*,B.USER_NAME FROM
	    (
		    SELECT 				 
				FAQ_ID
				,DATE_FORMAT(FAQ_DT,'%Y-%m-%d %H:%i:%s') AS FAQ_DT 
				,USER_ID
				,FAQ_TYPE
				,CASE 
				WHEN FAQ_TYPE=0 THEN '운영 FAQ'
				ELSE '운영 FAQ' END AS FAQ_TYPE_NM
				,FAQ_TITLE
				,CONTENT
		    FROM FAQ_INFO
			 WHERE FAQ_ID=#{FAQ_ID}
		)A
		LEFT JOIN USER_INFO B
		ON(A.USER_ID=B.USER_ID)
	</select>

	<!-- req id 생성 -->
	<select id="creFaqId" parameterType="faqVo" resultType="java.lang.String">
		SELECT 
		CONCAT(
			'FAQ'
			,IFNULL(MAX( SUBSTRING_INDEX(FAQ_ID, 'FAQ', -1) ),1)+1
		)
		FROM FAQ_INFO
	</select>

	<!-- 사용자 등록 -->
	<insert id="insert" parameterType="faqVo">
		INSERT INTO FAQ_INFO(
			 FAQ_ID
			,FAQ_DT 
			,USER_ID
			,FAQ_TYPE
			,FAQ_TITLE
			,CONTENT
		)
		VALUES (
			#{FAQ_ID}
			,NOW()
			,#{USER_ID}
			,#{FAQ_TYPE}
			,#{FAQ_TITLE}
			,#{CONTENT}
		)
	</insert>
	
	<update id="update" parameterType="faqVo">
	    UPDATE FAQ_INFO
			SET
			FAQ_TYPE      = #{FAQ_TYPE}
			<if test="USER_ID !=null and USER_ID neq ''">
				 ,USER_ID          = #{USER_ID}
			</if>
			,FAQ_TITLE     = #{FAQ_TITLE}
			,CONTENT          = #{CONTENT}
	    WHERE FAQ_ID=#{FAQ_ID}
	</update>
	
	<!-- 사용자 삭제 -->
	<delete id="delete" parameterType="faqVo">
		DELETE FROM FAQ_INFO 
		WHERE FAQ_ID IN
		<foreach collection="chkList" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
	</delete>
	
</mapper>